################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/llama2.cs
/bin/Release/net7.0
/obj
